page-filme-detalhes {
    h2.feed_title {
        color: midnightblue;
        font-weight: bold;
        padding-top: 4px;
        padding-left: 4px;
    }

    p.txt_date_feed {
        padding-left: 4px;
        color: lightgrey;
    }

    h3.title {
        color: darkslategray;
        font-weight: bold;
    }
}
